.login, .home {
    flex-direction: column !important;
    width: 400px;
    align-items: center;
    align-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home {
    width: 100%;
  }
  

  .card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 5px;
  }

  .logoutBtn {
    margin-top: 0.40rem !important;
  }